.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 120px;
    top: 340px;
  }
  
  .baloon {
    position: absolute;
    width: 200px;
    left: 250px;
    top: 200px;
    z-index: 3;
  }
  
  .speach {
    font-size: 15px;
    position: absolute;
    left: 272px;
    top: 230px;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 450px;
    top: 250px;
  }

/* Personagens pertencentes à Nintendo©
1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. */