.title {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: auto;
}

.pokemon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(26, 26, 26);
  width: 100%;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

.pokemon .pokemon-info {
  text-align: center;
}
